name: Deploy to Surge

on:
  push:
    branches:
      - main  # Se ejecuta al hacer push en la rama principal

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
      - name: Install Node.js
        with:
          node-version: '18'

